.card {
    position: relative;
    border-radius: 15px;
    border-style: solid;
    border-color: $primary;
    min-height: 400px;
    transition: all .35s;

    &:hover {
        transform: scale(115%);
    }

    img {
        max-width: 200px;
        max-height: 200px;
    }
}

#react-logo,
#node-logo,
#postgresql-logo,
#mongodb-logo,
#github-logo {
    padding-top: 1.5rem;
}

#express-logo {
    padding-top: 3rem;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all .35s;

    &:hover {
        background: linear-gradient(rgba(22, 22, 22, 0.06) 0%, #851f1f 100%);
    }
}

#more {
    color: $light;
    display: none;
}
