form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
}

input {
    &:valid:not(:placeholder-shown) {
        border-color: $green;
    }

    &:focus~label,
    &:valid:not(:placeholder-shown)~label,
    &:not(:placeholder-shown)~label {
        top: -30px;
    }
}

textarea {
    &:valid {
        border-color: $green;
    }

    &:focus~label,
    &:valid~label {
        top: -30px;
    }
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: ease-out 0.2s;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-group {
        flex-basis: 48%;
    }
}

#contact-btn {
    cursor: pointer;
    width: 100%;
}
