.panel-container {
    display: flex;
    width: 70vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    transition: flex 0.5s ease-out;

    &.active {
        flex: 5;
    }

    &-desc {
        margin-top: 4%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 3.5s;

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
}

#notesai {
    background-position: left center;
}

#portfolio {
    background-position: left center;
}
