.home {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(124, 6, 6, 0.8)), url(../images/redBG.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.intro-text {
    padding-top: 9%;
}

.sections-below {
    display: flex;
    margin-top: 8%;
    cursor: default;

    li {
        margin-right: 7%;
    }
}

#down-arrow {
    &1 {
        padding-left: 30%;
        padding-top: 15%;
    }

    &2 {
        padding-left: 40%;
        padding-top: 8%;
    }

    &3 {
        padding-left: 30%;
        padding-top: 15%;
    }
}

.about-me {
    background: $dark;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
    cursor: default;

    &1 {
        &:hover > #about::after {
            width: 75%;
        }
    }
}

#about {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: $primary;
        left: 0;
        bottom: 0;
        transition: ease .55s;
    }
}
