.home {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(124, 6, 6, 0.8)), url(../images/redBG.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.intro-text {
    padding-top: 9%;

    h1 {
        font-size: $largefont;
        line-height: 1.2;
        font-weight: 650;
        letter-spacing: 1px;
        cursor: default;
        margin-left: -7.5px;
    }

    h2 {
        font-size: $medfont;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 0 0 4%;
        cursor: default;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 5%;
        cursor: default;
        margin-left: 7px;
    }
}

.sections-below {
    display: flex;
    margin-top: 8%;
    cursor: default;

    li {
        margin-right: 7%;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

#down-arrow {
    &1 {
        padding-left: 30%;
        padding-top: 15%;
    }

    &2 {
        padding-left: 40%;
        padding-top: 8%;
    }

    &3 {
        padding-left: 30%;
        padding-top: 15%;
    }
}

.about-me {
    background: $dark;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
    cursor: default;

    &1 {
        h2 {
            font-size: $medfont;
            font-weight: 400;
        }

        &:hover > #about::after {
            width: 75%;
        }
    }

    &2 {
        p {
            font-size: $pfont;
            font-weight: 200;
            padding-top: 3%;
        }
    }
}

#about {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: $primary;
        left: 0;
        bottom: 0;
        transition: ease .55s;
    }
}
